:root{
    --fontR: "Roboto", sans-serif;
    --fontL: "Libre Baskerville", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fontR);
}

html, body{
    overflow-x: hidden;
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 24px 0 16px;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul, ol{
    margin: 0;
    padding: 0;
}

.btn{
    padding: 20px 40px;
    cursor: pointer;
    border: 2px solid #475F45;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.15em;
}